:root {
	--primaryBAckground: rgba(124, 133, 133, 0.39);
	--font: rgb(235, 232, 232);
	--secondary: rgb(106, 180, 56);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--secondary);
	height: 50px;
	margin: 0px 40px 0px 40px;
	align-self: center;
}
.header a {
	color: var(--secondary);
	font-size: 12pt;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}
