:root {
	--primary: rgba(124, 133, 133, 0.39);
	--font: rgb(235, 232, 232);
	--secondary: rgb(106, 180, 56);
	--secondaryAlpha: rgba(106, 180, 56, 0.5);
}

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
	margin-bottom: 200px;
}
.portfolio__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}

.portfolio__card h1 {
	padding: 10px;

	border-radius: 10px;
	margin-bottom: 20px;
	color: var(--secondary);
}

.portfolio__card a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
