:root {
	--primary: rgba(124, 133, 133, 0.39);
	--font: rgb(235, 232, 232);
	--secondary: rgb(106, 180, 56);
	--secondaryAlpha: rgba(106, 180, 56, 0.5);
}

.portfolio {
	/* align-items: center;
	justify-items: center; */
	margin-top: 200px;
	margin-bottom: 200px;
}

/* .portfolio > * {
	grid-column-start: 1;
	grid-row-start: 1;
} */
.portfolio__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}

.portfolio__card h1 {
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	color: var(--secondary);
}

.portfolio__body {
	display: grid;
	justify-items: center;
	align-items: center;
}

.portfolio__body * {
	grid-column-start: 1;
	grid-row-start: 1;
}

.portfolio__project {
	display: grid;
	width: 70%;
	height: auto;
	align-items: center;
}

.portfolio__sketch {
	z-index: -1;
}

.portfolio__project img:hover {
	transform: scale(1.01);
}

.robinhoodClone:hover {
	box-shadow: 20px 10px 30px green;
}

.videography:hover {
	box-shadow: 20px 10px 30px blue;
}
